h2 {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    color: rgb(255, 255, 255);
}
.footer {
    text-align: center;
    font-size: large;
    margin-top: 10px;
    text-shadow: 5px 5px 5px rgb(128,128,128) ;
}
body {
    background-color: indianred;
    
}
h3 {
    color: rgb(134, 51, 76);
}
